.massage-on-wheel {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  color: white;
  background-color: #000000;
  padding: 5px;
  opacity: 80%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

.wheel {
  border-radius: 50%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 25px;
  right: 105px;
  transform: rotate(-45deg);
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-right: 100px solid #d4bf00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: linear 1s infinite rotate;
}
