.wheel {
  width: 70vh;
  height: 70vh;
  background-color: #fff;
  border-radius: 500%;
  cursor: pointer;
  margin: 0 auto;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.massage-on-wheel {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  color: white;
  background-color: #000000;
  padding: 5px;
  opacity: 80%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}